
@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$preto: #1B1717;
$cinza: #696969;
$purpura: #8A4550;
$purpura_claro: #B84F60;
$bege: #FDF8F5;
$laranja: #D2691E;

a, p, h1, h2, h3, h4, h5, h6, span {
    font-family: "Inter", sans-serif;
    color: $preto;
}

body {
    background-color: $bege;
}