<ion-content [fullscreen]="true" *ngIf="dataLoaded">
  <div class="head-content">
    <ion-icon name="arrow-back-circle-outline"
      style="position: absolute; top: 10px; left: 10px; z-index: 500; height: 2rem; width: 2rem; color: var(--purpura);"
      (click)="navigateToHome()"></ion-icon>
  </div>
  <swiper-container #swiper :pagination="{
    hideOnClick: true
  }">
    <swiper-slide style="height: 45vh;" *ngFor="let image of product.imagens">
      <ion-card style="box-shadow: none; margin: 0 0 1.75rem 0;">
        <div alt="Silhouette of mountains"
          style="position: relative; height: 46vh; background-image: url({{image}}); background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
      </ion-card>
    </swiper-slide>
  </swiper-container>
  <ion-card-content style="margin-top: 2rem;">
    <ion-card-title style="font-weight: bold;">{{product.nome}}</ion-card-title>
    <ion-card-subtitle>{{product.descricao_peca}}</ion-card-subtitle>
    <ion-card-subtitle>
      <h3 style="margin: 2rem 0 .5rem 0; font-size: 1.02rem;"><b>Quantidade em estoque</b></h3>
      <p>4 peças</p>
    </ion-card-subtitle>
    <ion-card-subtitle>
      <h3 style="margin: 1rem 0 .5rem 0; font-size: 1.02rem;"><b>Cores disponíveis</b></h3>
      <div style="display: flex; align-items: center;">
        <div style="height: 2rem; width: 2rem; background-color: crimson;"></div>
        <div style="height: 2rem; width: 2rem; background-color: rgb(20, 23, 220); margin: 0 0 0 .5rem;"></div>
      </div>
    </ion-card-subtitle>
    <ion-card-subtitle>
      <h3 style="margin: 1rem 0 .5rem 0; font-size: 1.02rem;"><b>Tamanhos disponíveis</b></h3>
      <div class="buttons" style="display: flex; gap: 5px;">
        <button style="height: 2rem; width: 2rem; display: flex; align-items: center; justify-content: center; padding: 1rem; border-radius: 50%; border: 1px solid var(--purpura); color: var(--purpura); background: var(--white);">P</button>
        <button style="height: 2rem; width: 2rem; display: flex; align-items: center; justify-content: center; padding: 1rem; border-radius: 50%; border: 1px solid var(--purpura); color: var(--purpura); background: var(--white);">M</button>
      </div>
    </ion-card-subtitle>
    <div class="informations">
      <br>
      <p style="font-weight: bold; font-size: 1.02rem;">Valor pago:</p>
      <p style="margin: 0; color: var(--laranja); font-weight: bold;">R${{product.preco_compra}}</p>
      <br>
      <p style="font-weight: bold; font-size: 1.02rem;">Valor revenda:</p>
      <p style="margin: 0; color: var(--laranja); font-weight: bold;">R${{product.preco_venda}}</p>
    </div>
    <ion-card-subtitle>
      <div class="button-cadastrar" style="display: flex; justify-content: center; margin-top: 2rem; justify-content: center;">
        <button style="background: var(--purpura); border-radius: 11px; padding: 15px 30px; color: #ffffff; text-align: center;">Retirar produto do estoque</button>
      </div>
    </ion-card-subtitle>
  </ion-card-content>
</ion-content>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigateToHome()" tab="shirt-outline">
        <ion-icon name="shirt-outline" style="color: var(--purpura);"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToStatsChart()" tab="stats-chart-outline">
        <ion-icon name="stats-chart-outline" style="color: var(--purpura);"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="person-circle-outline" (click)="navigateToPerfil()">
        <ion-icon name="person-circle-outline" style="color: var(--purpura);"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>