<ion-content [fullscreen]="true">
  <swiper-container #swiper>
    <swiper-slide>
      <div class="content">
        <img class="logomarca" src="../../../assets/logomarca.png" alt="cab.id logomarca"/>
        <div class="next-content">
          <button (click)="nextSlide()"> &gt; </button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="content">
        <div class="text-content">
          <h1>Olá!</h1>
          <p>Somos o cab.id, uma plataforma desenvolvida com o objetivo de otimizar o tempo de catalogação e descrição de peças de roupas de brechós e bazares.</p>
          <br>
        </div>
        <div class="next-content">
          <button (click)="nextSlide()"> &gt; </button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="content">
        <div class="text-content">
          <p>Além de oferecer um processo de interação entre os clientes e os vendedores, possibilitando que os próprios usuários auxiliem na descrição dos produtos, a Cab.ID tem uma tecnologia inteligente de IA para auxiliar no preenchimento inicial das informações das peças, otimizando ainda mais o tempo e melhorando a experiência dos usuários.</p>
          <br>
        </div>
        <div class="next-content">
          <button class="continue_button" (click)="redirect_to_home()">Continuar</button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>